{% extends "layout.html" %}
{% block css %}
.container > .content{
	background-color: #fff;
	padding: 20px;
	/* negative indent the amount of the padding to maintain the grid system */
	margin: 0 -20px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

footer p
{
	text-align: center;
}

.newbody
{
	min-height: 200px
}

.heading
{
	text-align: center;
}

{% endblock %}

{% block js %}
<script type="text/javascript"
    src="/static/js/sijax/sijax.js"></script>
	<script type="text/javascript">
	    {{ g.sijax.get_js()|safe }}
	</script>

<script src="{{ url_for('static', filename='js/libs/bootstrap/transition.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap/alert.js') }}"></script>

<script type="text/javascript">
$(function() {          
    $('#newprofiletypeform').bind('submit', function() {
        Sijax.request('save_profiletype', 
		[$('#profilefield').attr('value')]
		);
        return false;
		$('#profilefield').focus();
    });

	$('#addnewprofileform').bind('submit', function(){
		Sijax.request('save_newprofile', 
		[$('#profiletitle').attr('value'),
		$('#uniquetitle').attr('value'), 
		$('#profileselect').attr('value') ]);
		return false;
	});
	
	$('#addorgform').bind('submit', function(){
		Sijax.request('save_neworg',
		[$('#orgtype').attr('value'),
		$('#orgtitle').attr('value'),
		$('#orgsummary').attr('value')]);
		return false;
		);
	});
    
});
</script>

<script>
	jQuery.fn.reset = function () {
	  $(this).each (function() { this.reset(); });
	}
</script>

{% endblock %}

{% block body %}

{% if not professional %}
<div class="alerts">
	<div id="profiletypeaddsuccess" class="alert alert-block alert-success hide fade in" data-alert="alert">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<p><strong>Added a profile type successfully</strong> Please check the drop down menu for the types</p>
	</div>
	<div id="profiletypeaddfail" class="alert alert-block alert-danger hide fade in" data-alert="alert">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<p><strong>Sorry something went wrong</strong> you probably might want to try again</p>
	</div>	
	<div id="profileaddsuccess" class="alert alert-block alert-success hide fade in" data-alert="alert">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<p><strong>Added a new profile successfully!</strong> Please check the <a href="{{ url_for('show_profiles') }}">All profiles</a> page to edit it or change other attributes</p>
	</div>
	<div id="profileaddfail" class="alert alert-block alert-danger hide fade in" data-alert="alert">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<p><strong>Oh!</strong> Something went wrong, you might want to try that again.</p>
	</div>
</div>	

<div class="hero-unit">

	<p class="heading">Rural Housing Knowledge Network</p>
	<hr />
	
	<!-- form to add a new profile -->
	<form class="form" id="addnewprofileform">
		<label>Title:</label>
		<input type="text" placeholder="Please enter a suitable title" class="span5" id="profiletitle" name="title"/><br />
		<label>Unique Title:</label>
		<input type="text" placeholder="A unique title to appear in the url" class="span5" id="uniquetitle" name="unique"/><br />
		<label>Select type of profile</label>
		<select id="profileselect" name="profiletype" class="span5">
			<option value="None">Click to Select</option>
			{% for ptype in profiletypes %}
			<option value="{{ ptype.name }}">{{ ptype.name }}</option>
			{% endfor %}
		</select>&nbsp; &nbsp;<a href="#addType" data-toggle="modal" >Profile type management</a><br />
		<hr />
		<button type="submit" class="btn btn-primary">Submit profile details »</button>
		<button type="reset" class="btn">Reset / Cancel</button>
		<hr />
		<small>Once the profile is added, you can add the content in the edit section. You will be redirected to the edit section once you hit submit.</small><br /><br />
		<a href="{{ url_for('show_profiles') }}">See all profiles?</a>
	</form>	
	<!-- ends the add new profile form -->
</div>
	
<div class="modal fade hide " id="addType" >
	<div class="modal-header">
	<a class="close" data-dismiss="modal">&times;</a>
	<h3>Add a new profile type</h3>
	</div>
	<div class="modal-body">
		
		<form id="newprofiletypeform" name="newprofiletypeform">
			<input type="text" id="profilefield" placeholder="Enter the name of the profile type" />
			<p>Example: Roofing, Foundation, etc.</p>

	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" class="close" data-dismiss="modal">Close</button>
		<button class="btn btn-primary" value="send" type="submit">Add</button>
		</form>
	</div>
</div><!-- modal ends -->


{% else %}




<div class="hero-unit">
	<div class="heading">
		<p>Rural Housing Knowledge Network</p>
		<hr />
		<p>Add a professional profile</p>
	</div>
	<form id="addorgform">
		<label>Please select type of professional profile:</label>
		<select id="professionalselect" name="profiletype" class="span5">
			<option value="Organization">Organization</option>
			<option value="Professional">Professional/Individual</option>
		</select>
		<label>Please enter the name</label>
		<input type="text" class="span8" placeholder="Name of Professional/Organization" />
		<label>Summary</label>
		<textarea rows="15" class="span8" placeholder="Please provide with a brief summary of the professional or organization"></textarea>
		<!-- <label>Projects</label>
		<textarea class="span8" rows="5" placeholder="Notable projects"></textarea><br />
		<input type="text" placeholder="Please provide the url if any for the aforementioned project" class="span8" />--><br />
		<p><a data-toggle="modal" href="#addproject">Please click here to add a new project</a></p>
		<button class="btn btn-primary btn-large" type="submit">Add the profile</button>
		<button class="btn btn-large" type="reset">Reset all fields</button>
	</form>
	<div class="modal hide fade" id="addproject">	
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Add a new project</h3>
		</div>
		<div class="modal-body">
			<label>Enter the project name</label>
				<input type="text" class="span5" placeholder="Enter the project title here" />
			<label>Enter the project url</label>	
				<input type="text" class="span5" placeholder="Enter the project url" />
			<p>OR</p>
			<select class="span5">
				<label>Select an existing project from the dropdown</label>
				<option value="None">Click to select project</option>
			</select>
			<form>
		</div>
		<div class="modal-footer">
				<button type="submit" class="btn btn-success">Submit</button>
				<button type="Reset" class="btn btn-danger">Reset</button>
				<button data-dismiss="modal" class="btn" >Close</button>
			</form>		
		</div>	
	</div>	
		
</div>

{% endif %}
{% endblock %}