{% extends "layout.html" %}
{% block css %}
.heading
{
	text-align: center
}
footer p
{
	text-align: center;
}
{% endblock %}
{% block body %}

<div class="hero-unit">
	<div class="heading">
		<p style="text-align: center">Rural Housing Knowledge Network</p>
		<hr />
		<p style="text-align: center">Add a profile</p>
	</div>
<p>Please select the type of profile</p>
<hr />
<a href="{{ url_for('add_professional') }}" class="btn btn-large" >Professional/Organization profile</a><br /><br />
<a href="{{ url_for('add_profile') }}" class="btn btn-large" >Technical profile: Raw</a> / <a href="{{ url_for('add_tech_template') }}" class="btn btn-large" >Templated profile</a>
<br /><br />
<a href="{{ url_for('add_case_template') }}" class="btn btn-large" >Case Study</a> 
</div>
{% endblock %}