{% extends "layout.html" %}

{% block css %}
.container > .content{
	background-color: #fff;
	padding: 20px;
	/* negative indent the amount of the padding to maintain the grid system */
	margin: 0 -20px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	overflow: hidden;
}

footer p
{
	text-align: center;
}

.newbody
{
	min-height: 200px
}

.heading
{
	text-align: center;
}

#editingstage
{
	overflow: hidden;
	
}

{% endblock %}

{% block js %}
<script type="text/javascript"
    src="{{ url_for('static', filename='js/sijax/sijax.js') }}">
</script>
<script type="text/javascript"
    src="{{ url_for('static', filename='js/sijax/upload.js') }}">
</script>
<script type="text/javascript">
	    {{ g.sijax.get_js()|safe }}
</script>
<script type="text/javascript">
	$(function(){
		$('#newDataForm').bind('submit', function(){
			Sijax.request('save_editdata',
			 [$('#key').attr('value'),
			  $('#majorcontent').attr('value')
			 ]);
			return false;
		});
	});
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/tiny_mce/tiny_mce.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tinyscript.js') }}"></script>
{% endblock %}

{% block body %}

{% if not techkey %}
<div class="hero-unit">
	<p class="heading">Rural Housing Knowledge Network</p>
	<hr />
	
	<p>Unique ID: {{ profile_info._id }}</p>
	<div id="editingstage">

		<table class="table table-striped table-condensed">
			<colgroup>
				<col class="span2">
				<col class="span2">

			</colgroup>
			<tbody>
				{% autoescape false %}
				{% for i in profile_info.keys() %}
					<tr>
						<td>{{ i }}</td>
						<td>{{ profile_info[i] }}</td>
						
					</tr>	
				{% endfor %}
				{% endautoescape %}
			</tbody>	
		</table>
		
		<a class="btn " href="">Refresh</a>
		<hr />		
		<form id="newDataForm" name="newDataForm">	
			<label>Key:</label>
			<input type="text" id="key" placeholder="Heading here" /><br />
			<label>Value:</label>
			<textarea  id="majorcontent" rows="30" class="span10" placeholder="Your content here"></textarea><br />
			<input class="btn btn-primary" type="submit" />
		</form>
		</div><!-- editingstage ends -->
		
</div>

{% else %}

<div class="hero-unit">
	<p class="heading">Rural Housing Knowledge Network</p>
	<hr />
	
	<p>Unique ID: {{ orginfo._id }}</p>
	<div id="editingstage">

		<table class="table table-striped table-condensed">
			<colgroup>
				<col class="span2">
				<col class="span2">

			</colgroup>
			<tbody>
				{% autoescape false %}
				{% for i in orginfo.keys() %}
					<tr>
						<td>{{ i }}</td>
						
						<td>{{ orginfo[i] }}</td>
						
					</tr>	
				{% endfor %}
				{% endautoescape %}
			</tbody>	
		</table>
		
		<a class="btn " href="">Refresh</a>
		<hr />		
		<p><a href="">Upload a picture</a></p>
		</div><!-- editingstage ends -->
		
</div>

{% endif %}	
{% endblock %}