{% extends "publiclayout.html" %}
{% block js %}
	<script type="text/javascript"
	    src="/static/js/sijax/sijax.js"></script>
		<script type="text/javascript">
		    {{ g.sijax.get_js()|safe }}
		</script>
{% endblock %}
{% block css %}
.container > .content{
	background-color: #fff;
	padding: 20px;
	/* negative indent the amount of the padding to maintain the grid system */
	margin: 0 -20px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

footer p
{
	text-align: center;
}

.newbody
{
	min-height: 200px
}

.heading
{
	text-align: center;
}

{% endblock %}

{% block body %}

{% autoescape false %}
{% if not techkey %}
<div class="public">
	{% for profile in profileinfo.keys() %}
		<p>{{ profile }}: {{ profileinfo[profile] }} </p>
	{% endfor %}
</div>
{% else %}
	{% for info in proinfo.keys() %}
		<p>{{ info }}: {{ proinfo[info] }} </p>
	{% endfor %}
{% endif %}

{% endautoescape %}	
{% endblock %}