{% extends "layout.html" %}
{% block js %}
<script type="text/javascript"
    src="/static/js/sijax/sijax.js">
</script>

<script type="text/javascript">
		    {{ g.sijax.get_js()|safe }}
</script>

<script src="{{ url_for('static', filename='js/libs/bootstrap/modal.js') }}"></script>

<script src="{{ url_for('static', filename='js/libs/bootstrap/transition.js') }}"></script>

<script src="{{ url_for('static', filename='js/libs/bootstrap/alert.js') }}"></script>

{% endblock %}

{% block css %}
.container > .content{
	background-color: #fff;
	padding: 20px;
	/* negative indent the amount of the padding to maintain the grid system */
	margin: 0 -20px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

footer p
{
	text-align: center;
}

.newbody
{
	min-height: 200px
}

.heading
{
	text-align: center;
}

{% endblock %}

{% block body %}

<div class="newbody">

	<div class="alerts">	
		<div id="profiledelete" class="alert alert-block hide fade in" data-alert="alert">
			<a class="close" data-dismiss="alert">&times;</a>
			<p><strong>Success!</strong> Deleted the said profile.</p>
		</div>
	</div>

	
	<div class="hero-unit">
	
		<p class="heading">Rural Housing Knowledge Network</p>
		<hr />

		<p>Profiles in database</p>
		<table class="table table-striped table-condensed">
			<colgroup>
				<col class="span1">
				<col class="span5">
				<col class="span2">
			</colgroup>
			<thead>
				<th>#</th>
				<th>Name / Unique title</th>
				<th>Options</th>
			</thead>	
			<tbody>
				{% for profile in profiles %}
				<tr id="{{ profile._id }}">
					<td><a href="/view/profile/tech/{{ profile._id }}">{{ profile._id }}</a></td>
					<td>{{ profile.title }} / {{ profile.unique }}</td>
					<td><a href="/edit/{{ profile._id}}">Edit</a> / <!-- <a href="javascript://" onclick="Sijax.request('delete_this', [ '{{ profile._id }}' ] );">Delete</a>--><a href="#deletedialog{{ profile._id }}" data-toggle="modal">Delete</a> 
						
						
						<div id="deletedialog{{ profile._id }}" class="modal hide fade">	
							<div class="modal-header">
								<a type="button" class="close" data-dismiss="modal">×</a>
								<h3>Achtung Bitte!</h3>
								
							</div>
							<div class="modal-body">
								Are you sure you want to delete this profile?
							</div>
							<div class="modal-footer">
								<a href="javascript://" data-dismiss="modal" class="btn btn-danger" onclick="Sijax.request('delete_this', [ '{{ profile._id }}' ] );">Yes! delete it</a><a data-dismiss="modal" class="btn btn-success">No, I think I'd like to go back</a>
							</div>			
						</div>	
						<!-- modal ends -->
					</td>
				</tr>
				{% endfor %}
				
				<tr id="{{ pro._id }}">
					<td><a href="/view/profile/prof/{{ pro._id }}">{{ pro._id	}}</a>
					<td>{{ pro.name	 }} / {{ pro.orgtype }}</td>
					<td><a href="/edit/{{ pro._id}}">Edit</a> / <!-- <a href="javascript://" onclick="Sijax.request('delete_this', [ '{{ profile._id }}' ] );">Delete</a>--><a href="#deletepro{{ pro._id }}" data-toggle="modal">Delete</a>	
				</tr>		
				
			</tbody>
		</table>
	
	</div>
</div>	
{% endblock %}