<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Rural Housing Knowledge Networks</title>
	<meta name="description" content="Profile Builder">
	<meta name="author" content="Pronoy Chopra">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }} ">
	<style>
	body {
	  padding-top: 60px;
	  padding-bottom: 40px;
		}
	
	{% block css %}
	{% endblock %}
	
	</style>	
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<script src="{{ url_for('static', filename='js/libs/modernizr-2.5.3-respond-1.1.0.min.js') }} "></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="container">
		{% if session.logged_in %}
				<a style="font-size: 16px;" href="{{ url_for('show_profiles') }}">+ Show all profiles</a><br />
				<a style="font-size: 16px;" href="{{ url_for('check_pro') }}">+ Add Profile</a><br />
				<a style="font-size: 16px;" href="{{ url_for('upload_images') }}">+ Upload Images</a><br />
				<a style="font-size: 16px;" href="{{ url_for('logout') }}"> - Logout</a>
<hr />
				{% block body %}
				{% endblock %}
				
		{% endif %}
		
		{% if not session.logged_in %}
		<div class="hero-unit">	
			<p style="text-align: center">Rural Housing Knowledge Network</p>
			<hr />
			{% if not loginpage %}
			<p style="text-align: center"><a href="{{ url_for('login') }}">Please Login in to access this page</a></p>	{% endif %}
			{% block loginbody %}
			{% endblock %}
		</div>
		{% endif %}
      <footer>
		<p>&copy; <a href="http://www.iitd.ac.in">Indian Institute Of Technology Delhi</a> 2012</p>
		<p><a href="http://flask.pocoo.org/"><img
		   src="http://flask.pocoo.org/static/badges/flask-powered.png"
		   border="0"
		   alt="Flask powered"
		   title="Flask powered"></a></p>
      </footer>

    </div> <!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!-- <script src="/static/js/libs/jquery-1.7.1.min.js"></script> -->
<script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>

{% block js %}
{% endblock %}

</body>
</html>