{% extends "layout.html" %}
{% block js %}

<script type="text/javascript"
    src="/static/js/sijax/sijax.js">
</script>

<script type="text/javascript">
		    {{ g.sijax.get_js()|safe }}
</script>
<script src="{{ url_for('static', filename='js/libs/bootstrap/alert.js') }}"></script>

<script type="text/javascript">
$(function(){
	$('#addtagform').bind('submit', function(){
		Sijax.request('save_tag', [$('#newtagvalue').attr('value')] );
		return false;
	});
});
</script>
<script>
	jQuery.fn.reset = function () {
	  $(this).each (function() { this.reset(); });
	}
</script>

{% endblock %}
{% block css %}
.container > .content{
	background-color: #fff;
	padding: 20px;
	/* negative indent the amount of the padding to maintain the grid system */
	margin: 0 -20px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

footer p
{
	text-align: center;
}

.newbody
{
	min-height: 200px
}

.heading
{
	text-align: center;
}

{% endblock %}
{% block body %}
<div class="alerts">
	<div id="success" class="alert alert-block alert-success hide fade in" data-alert="alert">
		<a class="close" data-dismiss="alert" href="#">&times;</a>
		<p><strong>Added Tag successfully</strong> You can now add more tags if you like or if you'd like to delete a tag then click on the delete button next to the tag name</p>
	</div>
</div>	
	<div class="hero-unit">

		
		<p class="heading">Rural Housing Knowledge Network</p>
		<hr />
		<p>Existing tags</p>
		{% for onetag in alltags %}

			<span style="font-size: 14px" class="label label-info">{{ onetag.value }}</span>
			<span style="font-size: 14px" class="label label-important"><a style="color: white" href="">x</a></span>&nbsp;&nbsp;&nbsp;&nbsp;

		{% endfor %}
		<hr />
		<p>Add new tags</p>
		<hr />
		<form class="form" id="addtagform" >
			<input placeholder="Add your tags here one at a time" type="text" id="newtagvalue" name="newtagvalue" /><br />
			<button type="submit" class="btn btn-primary">Add tag</button>
		</form>	
	</div>
{% endblock %}