{% extends "layout.html" %}
{% block css %}
.container > .content{
	background-color: #fff;
	padding: 20px;
	/* negative indent the amount of the padding to maintain the grid system */
	margin: 0 -20px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

footer p
{
	text-align: center;
}

.newbody
{
	min-height: 200px
}

.heading
{
	text-align: center;
}
{% endblock %}
{% block body %}
<div class="hero-unit">

	<p class="heading">Rural Housing Knowledge Network</p>
	<hr />
	<p>Unique ID: {{ profile_info._id }}</p>
	<form action="" method="POST">
		<table class="table table-striped table-condensed">
			<colgroup>
				<col class="span2">
				<col class="span2">
				<col class="span3">
			</colgroup>
			<tbody>
				<tr>
					<td>Profile name</td>
					<td>{{ profile_info.title }}</td>
					<td><input
					 type="text" placeholder="Type a new name here" /></td>
				</tr>
				<tr>
					<td>Unique title</td>
					<td>{{ profile_info.unique }}</td>
					<td><input
					 type="text" placeholder="Type a new unique title here" /></td>
				</tr>
				<tr>
					<td>Profile category</td>
					<td>{{ profile_info.profiletype }}</td>
					<td><input
					 type="text" placeholder="Type new category here" /></td>
				</tr>	
			</tbody>	
		</table>
		<button type="submit" class="btn btn-primary">Save changes</button>	
		</form>
		
</div>	
{% endblock %}