{% extends "layout.html" %}
{% block css %}
	.container > footer p {
		text-align: center; /* center align it with the container */
	}
	
	.hero-unit p, form
	{
		text-align: center;
	}
		
	div.node {
	  border-radius: 6px;
	  width: 12px;
	  height: 12px;
	  margin: -6px 0 0 -6px;
	  position: absolute;
	}

	div.link {
	  position: absolute;
	  border-bottom: solid #999 1px;
	  height: 0;
	  -webkit-transform-origin: 0 0;
	  -moz-transform-origin: 0 0;
	  -ms-transform-origin: 0 0;
	  -o-transform-origin: 0 0;
	  transform-origin: 0 0;
	}
{% endblock %}
{% block js %}

{% endblock %}

{% block loginbody %}
	<div class="row">
		<div class="span4">
			<div class="hero-unit">
				<p>Rural Housing Knowledge Network</p>	
				<hr />
				<p>Please Enter login details below</p>
		<form action="{{ url_for('login') }}" method="POST">
			<input class="" placeholder="Username" type="text" name="username" /><br />
			<input class="" placeholder="Pasword" type="password" name="password" /><br />
			<button class="btn btn-primary">Log me in</button><br />
		</form>	
		<hr />
		<p style="font-size: 13px;">We are currently evolving into a mega cluster. Please check with us later.</p>
			</div><!-- hero unit ends -->
		</div><!-- span4 ends -->	
		<div class="span6">
		
		</div><!-- span8 ends -->	
	</div><!-- row ends -->
{% endblock %}